# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/database_name?retryWrites=true&w=majority

# Server Port (optional, default is 3000)
PORT=3000
